[submodule "track6d/OSTrack"]
	path = track6d/OSTrack
	url = https://github.com/botaoye/OSTrack.git
[submodule "repositories/ho3d"]
	path = repositories/ho3d
	url = git@github.com:tjelinek/ho3d.git
[submodule "repositories/segment-anything-2-real-time"]
	path = repositories/segment-anything-2-real-time
	url = git@github.com:tjelinek/segment-anything-2-real-time.git
